.disc1 {
    left: -30px;
    top: 10px;
}

.disc2 {
    left: 60px;
    top: 10px;
}

.disc3 {
    top: 10px;
    left: -35px;
}

.disc4 {
    top: 10px;
    left: 25px;
}

.disc5 {
    left: -30px;
    top: 10px;
}

.disc6 {
    left: -22px;
    top: 10px;
}

.disc7 {
    left: -10px;
    top: 10px;
}

.disc8 {
    left: -50px;
    top: 0px;
}